<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <% include ./common/mobile_header %>
        <title>拍范 - 出错啦</title>
    </head>

    <body class="mobile">
        <div class="mobile-information">
            <div class="mobile-error-title">
                您访问的页面遇到了问题。
            </div>

            <div class="mobile-information-text">
                您可以：
                <a href="javascript:history.go(-1);"><ul>返回上一页</ul></a>
            </div>
            <div class="mobile-error-information">
                <%= message %> <br/>
                --------------- <br/>
                <%= error %>
            </div>
        </div>
        
    </body>
</html>