body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body.mobile {
  max-width: 640px;
  min-width: 320px;
  margin: auto;
  padding: 0 0 30px 0;
  font: 1rem/1.2 "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}

div.mobile-title-folder {
  padding: 40px 0 0 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 160px;
}

div.paragraph {
  padding: 5px;
}

div.content {
  padding: 5px 0;
  width: 100%;
}

span.highlight {
  color: #fb5240;
}

div.mobile-title-folder-full {
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

img.mobile-folder {
  width: 100%;
}

img.mobile-title-folder {
  cursor: pointer;
  width: 100%;
}

div.mobile-title-float-bottom {
    position: absolute;
    bottom: 0;
    margin: 0 auto 0 auto;
    /* left: 50%; */
    font-size: 1rem;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0 10px 0;
    background-color: rgba(76, 76, 76, 0.6);
}

div.mobile-classify-tabs {
    background: white;
    position: fixed;
    z-index: 255;
    overflow-x: auto;
    padding: 10px 20px 10px 10px;
    width: 95%;
    white-space: nowrap;
}

div.mobile-classify-unselected, div.mobile-classify-selected {
  cursor: pointer;
}

div.mobile-classify-unselected {
  color: black;
  display: inline;
  margin: 0 5px 0 5px;
}

div.mobile-classify-selected, div.mobile-classify-card {
	display: inline;
	color: #fb5240;
	background-color: #fce4e1;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
	margin: 0 5px 0 0;
}

div.mobile-classify-card {
  font-size: 0.8rem;
}

div.mobile-feed-article {
  cursor: pointer;
	width: 100%;
  position: relative;
  border-top: 1px solid #e9e9e9;
  padding: 5px 0;
}

img.mobile-feed-article-folder {
  width: 95%;
  padding-left: 5px;
}

div.mobile-feed-article-left {
  width: 35%;
  display: inline-block;
  vertical-align: bottom;
}

div.mobile-feed-article-right {
  width: 60%;
  margin: 0 0 0 5px;
  display: inline-block;
  vertical-align: top;
}

div.mobile-feed-article-line {
  margin: 10px 0 0 0;
}

div.inline {
  display: inline;
}

img.mobile-author {
    margin: 3px 0 0 0;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

div.authorName {
  color: gray;
  vertical-align: super;
  font-size: 0.9rem;
}

div.authorTimeSpan {
  color: gray;
  padding: 10px 5px 0 0;
  font-size: 0.9rem;
  float: right;
}

div.mobile-previous-page, div.mobile-next-page {
	color: #fb5240;
  cursor: pointer;
  display: inline;
}

div.mobile-next-page {
  float: right;
}

div.mobile-page {
  margin: 0;
}

div.mobile-title {
  padding: 10px 10px 0 10px;
  background-repeat: no-repeat;
  background-image: url(/ic_launcher.png);
  background-position: 10px 10px;
  background-size: 64px 64px;
  height: 74px;
  border-bottom: 1px solid gray;
  margin: 0 0 10px 0;
}


div.mobile-title-text {
  display: inline-block;
  margin-left: 80px;
  line-height: 30px;
}

span.mobile-title {
  font-size: 1.5rem;
  font-weight: bold;
}

div.mobile-information {
  width: 100%;
  word-wrap: break-word;
}

div.mobile-error-title {
  margin: 20px 10px 20px 10px;
  font-size: 1.2rem;
  color: #fb5240;
}

div.mobile-information-text {
  margin: 10px 20px;
}

div.mobile-error-information {
  font-size: 0.7rem;
}

div.manage-tags-inline {
  display: inline-block;
}

table {
  border-collapse: collapse;
}

table th {
    height: auto;
    padding: 5px 10px 2px;
    text-align: center;
    color: #666666;
    vertical-align: bottom;
    background-color: #efefef;
    font-weight: bold;
}

table th, body table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd;
}

.green-button, .red-button, .yellow-button {
    color: #fff!important;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    padding: 4px 8px;
    cursor: pointer;
}

.green-button {
    background-color: #5bb75b;
    border-color: #51a351 #51a351 #387038;
}

.green-button:hover {
    background-color: #51a351;
}

.red-button {
    background-color: #da4f49;
    border-color: #bd362f #bd362f #802420;
}

.red-button:hover {
    background-color: #bd362f;
}

.yellow-button {
    background-color: #faa732;
    border-color: #f89406 #f89406 #ad6704;
}

.yellow-button:hover {
    background-color: #f89406;
}

div.mobile-detail-author-bar {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0 10px 0;
  color: white;
  background-color: #fb5240;
  font-size: 0.8rem;
}

span.white {
  color: white;
}

td.mobile-author-image {
  width: 30px;
}

img.mobile-detail-author-buttom {
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

span.bold {
  font-weight: bold;
}

span.role {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
}

h3.mobile {
  font-size: 1.2rem;
  margin: 15px 0;
}

h4.inline {
  font-size: 1.1rem;
  display: inline;
  padding: 0 0 0 10px;
}

table.no-border td {
  border: 0px;
  border-spacing: 0px;  
}

table.author {
  margin: 20px 0;
}

div.button-white, div.button-white-big {
    background-color: #fff;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #ff3166;
    text-align: center;
    vertical-align: middle;
    border: #ff3166 1px solid;
    border-radius: 3px;
    padding: 4px 8px;
    cursor: pointer;
}

div.button-red, div.button-white {
  padding: 4px 8px;
}

div.button-red-big, div.button-white-big {
  padding: 10px 40px;
  margin: 5px;
}

div.button-red, div.button-red-big {
    background-color: #ff3166;
    border: #ff3166 1px solid;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

div.popup {
  position: fixed;
  width: 350px;
  height: 380px;
  z-index: 100;
  top: 50px;
  left: 50%;
  margin: 0 0 0 -175px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 10px 20px rgba(0,0,0,0.24);
}

div.dialog-bar {
  background-color: #ff3166;
  text-align: center;
  vertical-align: middle;
  font-size: 16pt;
  color: #fff;
  height: 58px;
  line-height: 58px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div.dialog-content {
  margin: 20px;
  text-align: center;
}

div.dialog-input-placeholder {
    border: 1px solid #999999;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
}

div.dialog-textarea-placeholder {
    border: 1px solid #999999;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
}

input.no-border {
    border: none;
    font-size: 1.15rem;
    color: #000;
    width: 270px;
    float: left;
    margin-left: 15px;
    margin-top: 8px;
}

textarea.no-border {
    border: none;
    font-size: 1.15rem;
    color: #000;
    width: 270px;
    float: left;
    margin-left: 15px;
    margin-top: 8px;
    height: 64px;
}

div.buttons-line {
  text-align: center;
  margin-top: 25px;
}

div.mask {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 50;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
}