    <div class="page-buttom">
        <div class="page-buttom-container">
            <div class="page-buttom-grid" id="page-buttom-div-1">
                <div class="page-buttom-grid-line-1">最新搭配指南</div>
                <div class="page-buttom-grid-line-2">请关注微信公众号：ipaifan</div>
            </div>
            <div class="page-buttom-grid" id="page-buttom-div-2">
                <div class="page-buttom-grid-line-1">商家及搭配师入驻申请</div>
                <div class="page-buttom-grid-line-2">请加微信号：1787558275</div>
            </div>
            <div class="page-buttom-grid" id="page-buttom-div-3">
                <div class="page-buttom-grid-line-1">商务合作及其他问题</div>
                <div class="page-buttom-grid-line-2">请加微信号：958374774</div>
            </div>
            <div class="page-buttom-last">
                <br>
                地址：杭州市余杭区梦想小镇互联网村1号楼4层<br>
                2016 杭州个范科技有限公司 All rights reserved.  浙ICP备15036176号-1<br>
                <div style="width:300px;margin:0 auto; padding:20px 0;">
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011002011886" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://paifan.me/images/shuibiao.png" style="float:left;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33011002011886号</p></a>
                </div>
            </div>
        </div>
    </div>