        <div id="image-select-form" title="选择图片" style="display:none;">
            <div>
                <canvas id="tempCanvas" width="640px" height="640px" style="display:inline-block;cursor:move;border:1px solid gray;">
                    <div>您的浏览器不支持 Canvas 标签。请使用 Google Chrome 浏览器。</div>
                </canvas>
                <input type="file" class="" name="image" id="upload-file">
                <br/>
                拖动图片调整区域。在图片上滑动鼠标以缩放图片。
            </div>
        </div>