<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <% include /common/head %>
        <title><%= user.nickName %></title>
    </head>

    <body class="mobile">
        <div class="mobile-title-folder">
            
        </div>
    </body>
</html>